// MAIN BODY
.fontPrimary {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.fontSecondary {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

@media (max-width: 767px) {
  body {
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 114, 177, 0.73)),
    url('../images/mobileHeroImage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 1000px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 114, 177, 0.93)),
    url('../images/desktopHeroImage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 1000px;
  }
}

// ADD PROJECT WIDGET
.formBox {
  background-color: black;
}

.placeholderFont {
  font-family: 'Noto Serif', serif;
}

// PROJECTS PAGE

.projects-wrap {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -5px 5px #B99C6B, -5px 5px #B99C6B;
}

.project-image {
  padding-top: calc(1 / 1 * 100%); 
  background-size: cover;
  background-position: center;
}

.description-short {
  width: 100%;
  line-height: 1.5em;
  height: 4.5em;
  // overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.projectLinks {
  text-decoration: none;
}