// ADD PROJECT WIDGET
.formBox {
  background-color: black;
}

.placeholderFont {
  font-family: 'Noto Serif', serif;
}

// PROJECTS PAGE

.projects-wrap {
  font-family: 'Noto Serif', serif;
}

.project-image {
  padding-top: calc(1 / 1 * 100%); 
  background-size: cover;
  background-position: center;
}

.description-short {
  width: 100%;
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.projectLinks {
  text-decoration: none;
}