// MAIN BODY
.fontPrimary {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 0.88;
}

.fontSecondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.88;
}

body {
  background: 
  linear-gradient(to bottom, #007ea7, #007ea7);
}

.aboutHeading {
  //font-family: 'Oswald', sans-serif;
  //font-size: 160px;
}

.educationHeading {
  //font-family: 'Oswald', sans-serif;
  //font-size: 100px;
  //font-weight: 500;
}

.bodySection {
  //font-family: 'Noto Serif', serif;
  //font-size: 20px; 
}