.aboutHeading {
  font-family: 'Oswald', sans-serif;
  font-size: 160px;
}

.educationHeading {
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  font-weight: 500;
}

.bodySection {
  font-family: 'Noto Serif', serif;
  font-size: 20px; 
}