// MAIN BODY
.fontPrimary {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 0.88;
}

.fontSecondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.88;
}

@media (min-width: 768px) {
  .fontNavigation {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.88;
  }
}

body {
  background: 
  linear-gradient(to bottom, #007ea7, #007ea7);
}

// Skills Heading
.heading {
  text-shadow: -3px 0 #B99C6B;
}

.skills-wrap {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -5px 5px #B99C6B, -5px 5px #B99C6B;
}

// Skill Boxes
.skillBox {
  background-color: rgba(255, 255, 255, 0.66);
  
}

img {
  width: 100%;
}