// ADD PROJECT WIDGET
.formBox {
  background-color: black;
}

.placeholderFont {
  font-family: 'Noto Serif', serif;
}

// PROJECTS PAGE
.skillsContainer {
  height: 100%;
}

.skills-wrap {
  font-family: 'Noto Serif', serif;
}

.description-short {
  width: 100%;
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.skillLinks {
  text-decoration: none;
}