// MAIN BODY
.fontPrimary {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: #c3e3eb;
}

.fontSecondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.8;
  color: #061e45;
}

@media (min-width: 768px) {
  .fontNavigation {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.88;
    color: #061e45;
  }
}

// Hero Section
.avatar {
  background-image: url(./images/dark\ blue\ background.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 450px;
  width: auto;
}

.heading {
  text-shadow: -5px 0 #061e45;
}

body {
  background: 
  linear-gradient(to bottom, #36454F, #36454F);
}

a { 
  text-decoration: none;
}

i.homeLink {
  color: #c3e3eb;
}

i.arrowDown {
  color: #061e45;
}

// About Section
.arrow {
  text-align: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.aboutHeroSection {
  background-color: #c3e3eb;
  box-shadow: -5px 5px #061e45, -5px 5px #061e45;
}

//Project Section
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.viewProjects {
  border: 1px solid #061e45;
  text-decoration: none;
  color: #061e45;
}

.viewProjects:hover {
  background-color: #061e45;
  color: #36454F; 
}

// FOOTER
