// BODY
.fontPrimary {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 88%;
}

.fontSecondary {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  opacity: 88%;
}

nav {
  background-color: rgba(255, 255, 255, 1);
}

.nav-item {
  font-size: 18px;
}

//MOBILE NAV TOGGLE
.hamburger-toggle {
  width: 60px;
  height: 60px;
  border: none;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.hamburger {
  position: relative;
  width: 30px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  border-radius: 2px;
  height: 1px;
  background: rgb(0, 0, 0);
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  transition: 0.2s ease-in-out;
}

.hamburger-icon.is-open {
  transform: translateX(-50px);
  background-color: rgba(255, 255, 255, 0);
}

.hamburger-icon.is-open::before {
  transform: rotate(-45deg) translate(30px, 40px);
}

.hamburger-icon.is-open::after {
  transform: rotate(45deg) translate(30px, -42px);
}
