// MAIN BODY
.fontPrimary {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 0.88;
}

.fontSecondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.88;
}

@media (min-width: 768px) {
  .fontNavigation {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.88;
  }
}

body {
  background: linear-gradient(to bottom, #007ea7, #007ea7);
}

.heading {
  text-shadow: -3px 0 #B99C6B;
}

.contactContainer {
  height: 100vh;
}

.mapContainer {
  height: 600px;
  background-position: center;
  background-size: cover;
}

.contactForm {
  background-color: #B99C6B;
}

.contactLink {
  text-decoration: none;
  color: black;
}